table {
  padding: 2em;
}

td {
  width: 25%;
  height: 25%;
  border: solid black 1px;
  text-align: center;
}

table{
  border:2px solid black;
  border-collapse: collapse;
  width: 50%;
  height: 50em;  
  margin: auto;
}